{% load i18n %}
<div class="freetextresponse xmodule_display xmodule_CapaModule problem">
    <h2 class="problem-header">{{ display_name }}</h2>
    <div class="problem-progress">{{ problem_progress }}</div>
    <p>{{ prompt|safe }}</p>
		
	<div class="word-count-message" id="description">{{ description }}</div>
    <div class="capa_inputtype textline">
        <div class="user_input {{ indicator_class }}">
            <textarea class="student_answer" id="student_answer" rows="10" cols="100">{{ student_answer }}</textarea>
			<div class="word-container">
				<span class="status {{ visibility_class }}" aria-describedby="student_answer"></span>
				<div class="word-count-message">Max {{ max_word_count }} words</div>
			</div>
        </div>
    </div>	
	<div class="word-container">
	    <div class="word-count-message">{{ comments }}</div>
		<div class="word-count-message"></div>
	</div>
    <div class="capa_inputtype textline">
        <div class="user_input {{ indicator_class }}">
            <textarea class="student_answer" id="student_comments" rows="10" cols="100">{{ student_comments }}</textarea>
			<div class="word-container">
				<span class="status {{ visibility_class }}" aria-describedby="student_answer"></span>
				<div class="word-count-message">Max {{ max_word_count }} words</div>
			</div>
        </div>
    </div>
    {% if display_other_responses %}
        <input class="messageCheckbox" type="checkbox" checked>
            <span>{% trans "Allow my response to possibly be visible by other learners after submitting their response" %}</span>
        <br>
    {% endif %}
    <div class="capa_alert submission-received">{{ submitted_message }}</div>
    <div class="action">
            <button class="check Submit {{ nodisplay_class }}" data-checking="{% trans "Checking..." %}" data-value={% trans "Submit" %}>
                {% trans "Submit" %}
            </button>
        <div class="used-attempts-feedback" aria-live="polite">{{ used_attempts_feedback }}</div>
    </div>
    <div class="capa_alert user_alert">{{ user_alert }}</div>
    {% if display_other_responses %}
        <div class="responses-box {% if not student_answer %}hidden{% endif %}">
            <button class="hide-button">
                <span class="hide">{% trans "Hide" %}</span>
                <span class="show">{% trans "Show" %}</span>
                <span class="sr">{% trans "peer responses" %}</span>
            </button>
            <p class="responses-title">{% trans "Submissions by others" %}</p>
            <ul class="response-list" data-noresponse="{% trans "No responses to show at this time" %}">
                {% for response in other_responses %}
                    <li class="other-student-responses">{{ response.answer }}</li>
					<li class="other-student-responses">{{ response.comments }}</li>
                {% empty %}
                    <li class="no-response">{% trans "No responses to show at this time" %}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
